<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/HomeCss.css")
    @*<link href="~/Content/HomeCss.css" rel="stylesheet" type="text/css" />*@
    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />*@
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div id="container_body-content">
        <div id="contact">
            Контактная информация
        </div>
        <header>
            
            <div id="header_vk">
                <a href="https://vk.com/feed" title="Новости">
                    <div id="head_v">В </div>
                    контакте
                </a>
            </div>
            <nav>
                @*<ul>
                    <li>@Html.ActionLink("Люди", "Index", "Home") </li>
                    <li><a href="">сообщества</a></li>
                    <li><a href="">игры</a></li>
                    <li><a href="">музыка</a></li>
                    <li><a href="">помощь</a></li>
                    <li><a href="">выйти</a></li>
                </ul>*@
                <ul class="dropdown">
                    <li class="dropdown-top">
                        <a class="dropdown-top" href="/">Британия</a>
                        <ul class="dropdown-inside">
                            <li><a href="/">Лондон</a></li>
                            <li><a href="/">Бирмингем</a></li>
                            <li><a href="/">Лидс</a></li>
                            <li><a href="/">Шеффилд</a></li>
                            <li><a href="/">Манчестер</a></li>
                        </ul>
                    </li>

                    <li class="dropdown-top">
                        <a class="dropdown-top" href="/">США</a>
                        <ul class="dropdown-inside">
                            <li><a href="/">Нью-Йорк</a></li>
                            <li><a href="/">Лос-Анжелес</a></li>
                            <li><a href="/">Чикаго</a></li>
                            <li><a href="/">Хьюстон</a></li>
                            <li><a href="/">Филадельфия</a></li>
                            <li><a href="/">Финикс</a></li>
                            <li><a href="/">Сан-Антонио</a></li>
                        </ul>
                    </li>
                    </ul>
</nav>

        </header>
        <section>
            
            <div id="content">
                @RenderBody()
            </div>
        </section>
        <footer>
            <hr />
            <p>&copy; @DateTime.Now.Year - Made by Doctor</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>

@*<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>*@