@model IEnumerable<Shop.Models.Computers>

@{
    ViewBag.Title = "Computers2";
}


@Html.Partial("_NavigatMenu")
<section class="content">
    <h2>Computers2</h2>
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImagesPath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Firm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Сharacteristics)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img class="product" src="@Html.DisplayFor(modelItem => item.ImagesPath)" />  @*grid.Column(header: "Логотип", format: , canSort:false),*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Firm)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Сharacteristics)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
            </tr>
        }
    </table>
    <p>
@using (Html.BeginForm())
        {
        @Html.DropDownList("ParentID", "All")
        @*@Html.DropDownList("id",
                       (IEnumerable<SelectListItem>)ViewBag.ParentID)*@
        <input type="submit" value="Submit" />
}

        @*@using (Html.BeginForm())
        {
        <p>
            Select Department: @Html.DropDownList("SelectedDepartment", "All")
            <input type="submit" value="Filter" />
        </p>
        }*@

        <!--Данные отправляются с помощью POST запроса-->
    </p>
    <p>
        <div style="color:aqua">@ViewBag.Parent</div>
        <br />
        <div>@ViewBag.Message</div>
    </p>
    @using (Html.BeginForm())
        {
        <input type="text" name="message" />
        <input type="submit" value="Отправить на сервер" />
    }
</section>
@Html.Partial("_Aside")


