@{
    ViewBag.Title = "Computers3";
}
@Html.Action("NavigatMenu3", new { Model })

    @Html.Action("OrdersData3", new {  Model })
    @*<p>
        @using (Html.BeginForm())
        {
            @Html.DropDownList("ParentID", "All")
            <input type="submit" value="Submit" />
        }
        <div class="checkbox">
            @using (Html.BeginForm())
            { @: чекбоксы
                <br />
                foreach (var item in Model)
                {
                    @Html.CheckBox(item.Firm, false);
                @Html.DisplayFor(modelItem => item.Firm);
                <br />
                }
                <input type="submit" value="Отправить" />
            }
        </div>

        Данные отправляются с помощью POST запроса
    </p>
    <p>
        <div style="color:aqua">@ViewBag.Parent</div>
        <br />
        <div>@ViewBag.Message</div>
    </p>
    @using (Html.BeginForm())
    {
        <input type="text" name="message" />
        <input type="submit" value="Отправить на сервер" />
    }*@

@Html.Partial("_Aside")


