@model IEnumerable<Shop.Models.Computers>

@{
    ViewBag.Title = "Computers2";
}


@Html.Partial("_NavigatMenu")
<section class="content">
    <h2>Computers2</h2>
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImagesPath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Firm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Сharacteristics)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td >
                    <img class="product" src="@Html.DisplayFor(modelItem => item.ImagesPath)" />  @*grid.Column(header: "Логотип", format: , canSort:false),*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Firm)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Сharacteristics)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
            </tr>
        }
    </table>
</section>
@Html.Partial("_Aside")


