@model IEnumerable<Shop.Models.Computers>

@{
    ViewBag.Title = "Computers2";
}


<nav class="rightmenu">
    <h1>Navigation</h1>

    <ul>
        <li><a href="#" title="Lorum ipsum dolor sit amet">Lorem</a></li>
        <li><a href="#" title="Aliquam tincidunt mauris eu risus">Aliquam</a></li>
        <li><a href="#" title="Morbi in sem quis dui placerat ornare">Morbi</a></li>
        <li><a href="#" title="Praesent dapibus, neque id cursus faucibus">Praesent</a></li>
        <li><a href="#" title="Pellentesque fermentum dolor">Pellentesque</a></li>
    </ul>
</nav>

<section class="content">
    <h2>Computers2</h2>
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Firm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Сharacteristics)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Firm)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Сharacteristics)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
            </tr>
        }
    </table>
</section>

<aside>
    <h1>Aside</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
    </p>
</aside>


